* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 75%;
  min-height: 75%;
  border: 2px solid steelblue;
  margin: 0 auto;
  padding: 0 auto;
}

.header {
  margin: 5px;
  padding: 10px;
  text-align: center;
}