* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 75%;
  min-height: 75%;
  border: 2px solid steelblue;
  margin: 0 auto;
  padding: 0 auto;
}

.header {
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.program {
  background: grey;
  color: red;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

.program h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.program:hover {
  background: black;
  color: aqua;
}